{% extends 'layout.twig' %}
    {% block stylesheets %}
        <link href="/assets/css/bootstrap-slider.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/customPlayer.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/js/JPlayer/dist/skin/blue.monday/css/jplayer.blue.monday.min.css" rel="stylesheet"
              type="text/css"/>


        <script src="/assets/js/vis/vis.min.js"></script>
        <link href="/assets/js/vis/vis.min.css" rel="stylesheet" type="text/css"/>

            <style>

                li p.item {
                    background: #3498db;
                    color: #ecf0f1;
                    padding: 8px;
                    border-radius: 30px;
                    font-weight: bolder;
                }

                li p.item:before {
                    display: inline-block;
                    content: '';
                    background: white;
                    padding: 6px;
                    border-radius: 50%;
                    font-weight: bolder;
                    width: 10px;
                    height: 10px;
                    margin-right: 5px;
                }

            </style>
    {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h1 style="margin-bottom: 20px">Créer une ou plusieurs séquences pour "{{ name }}"</h1>
            <div class="col-md-7">
                <div id="video_container"></div>
                <input id="video-link" type="hidden" value="{{ link }}">
            </div>

            <div class="col-md-4 align-top">
                <ul class="list-group">
                    <li class="list-group-item active text-center">Boîte à outils</li>
                    <li class="list-group-item">

                        <p class="item" draggable="true" data-id="1">test</p>        

                    </li>
                    <li class="list-group-item">
                        Made...
                    </li>
                </ul>
            </div>
        </div>

        <br>

        <div class="row block">
            <div class="col-md-11">
                <!-- Timeline ! -->
                <div id="timeline"></div>

            </div>
        
            <div class="col-md-1">
                <form id="formValidation" action="submitAnnotation" method="post">
                    <textarea name="reaction" id="reactionsTextArea" hidden></textarea>
                    <textarea name="duree" id="duree" hidden></textarea>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                            data-target="#validationModal"
                            disabled>Valider
                    </button>
                </form>
            </div>
        </div>
        <br>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{{ asset('/assets/js/bootstrap-slider.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/assets/js/JPlayer/dist/jplayer/jquery.jplayer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/assets/js/customPlayer.js') }}"></script>

    <script src="{{ asset('/assets/js/initTimeline.js') }}"></script>

    <script>
        $(document).ready(function () {

            player = new CustomPlayer($('#video_container'),
                function () {
                    let videoLink = "/" + document.getElementById("video-link").value
                    player.setVideo("{{ name }}", videoLink)
                    /*setDebut()*/
                    /*setFin()*/
                    player.initialize(initializeTimeline)
                })
            timeline.redraw()

        });
    </script>
{% endblock %}