{% extends 'layout.twig' %}
    {% block stylesheets %}
        {#  <script type="text/javascript" src="/assets/js/video.js"></script>#}
        {#<link href="/assets/css/style.css" rel="stylesheet" type="text/css" />#}
        <link href="/assets/css/bootstrap-slider.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/customPlayer.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/js/JPlayer/dist/skin/blue.monday/css/jplayer.blue.monday.min.css" rel="stylesheet"
              type="text/css"/>
    {% endblock %}
{% block body %}

    <div class="container">
        <h1>Create a sequence for "{{ name }}"</h1>

        <div id="video_container"></div>
        <input id="video-link" type="hidden" value="{{ link }}">

        <br/>
        <form action="{{ path_for("dashboard", {"id": id}) }}" method="post">
            <input type="hidden" id="video_id" name="video_id" value="{{ id }}">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp"
                       placeholder="Enter name">
                <small id="nameHelp" class="form-text text-muted">The name of your sequence</small>
            </div>
            <div class="form-group">
                <label for="start">Start</label>
                <input type="text" class="form-control" id="start" name="start" aria-describedby="startHelp"
                       placeholder="Enter start (00:00:00)">
                <small id="startHelp" class="form-text text-muted">The second who start your sequence</small>
            </div>
            <div class="form-group">
                <label for="end">End</label>
                <input type="text" class="form-control" id="end" name="end" aria-describedby="endHelp"
                       placeholder="Enter end (00:00:00)">
                <small id="endHelp" class="form-text text-muted">The second who ends your sequence</small>
            </div>
            <div class="form-group">
                <label for="expression">Expression</label>
                <input type="text" class="form-control" id="expression" name="expression"
                       aria-describedby="expressionHelp" placeholder="Enter expression truc.prend(truc)">
                <small id="expressionHelp" class="form-text text-muted">The expressions of your sequence</small>
            </div>
            {{ csrf() }}

            <button type="submit" class="btn btn-primary">Submit sequence</button>
        </form>

    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{{ asset('/assets/js/bootstrap-slider.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/assets/js/JPlayer/dist/jplayer/jquery.jplayer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/assets/js/customPlayer.js') }}"></script>

    <script>
      CustomPlayer($('#video_container'),
        function () {
          let videoLink = "/" + document.getElementById("video-link").value
          setVideo("{{ name }}", videoLink)
          /*setDebut()*/
          /*setFin()*/
          initialize()
        })
    </script>
{% endblock %}