{% extends 'layout.twig' %}

{% block body %}

<div class="container">
    <h3 >Descriptions</h3>
    
    <form action="{{ path_for('xml') }}" method="post">
        {{ csrf() }}
        <ul class="list-group">
            {% if sequences %}
                {% for seq in sequences %}
                    <li class="list-group-item d-flex justify-content-between align-items-center mb-1">
                        {{ seq.label.expression }} <input type="checkbox" param="{{ seq.label.expression }}" onchange="changeBoite(this)" checked>
                    </li>
                        <ul>
                            {% if seq.comments %}
                                {% for com in seq.comments %}
                                <li name="{{ seq.label.expression }}" class="col-11">
                                    <name>{{ com.comment }}</name> <input id=" {{ com.id }}" type="checkbox" name="{{ seq.label.expression }}" value="{{ com.comment }}" checked class="pull-right">
                                </li>
                                {% endfor %}
                            {% else %}
                                <li>
                                    Il n'y a pas encore de commentaire
                                </li>
                            {% endif %}
                        </ul>
                {% endfor %}
            {% else %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Il n'y a pas encore de donnée
                </li>
            {% endif %}
        </ul>    

    <br>
        
        <button type="submit" class="btn btn-lg btn-primary" style="color: white">Générer XML</button>
</form>

{% endblock %}

{% block javascript %}
    <script>

    function changeBoite(e){
        var nom = $(e).attr('param');
        $('input[name="'+nom+'"]').prop('checked',$(e).prop('checked'));
    }
    </script>
{% endblock %}