{% extends 'layout.twig' %}

{% block body %}

<script src="{{ asset('assets/js/dropzone.js') }}"></script>

<div class="container">
    <h1>{{ auth.user.username }}'s profile page</h1>
    <br>

    <h2>My videos</h2>

    {% if videos %}
        {% for v in videos %}
            <div class="card">
                <h5 class="card-header">{{ v.name }}</h5>
                <div class="card-body">
                    <h5 class="card-title">This video's sequences</h5>
                    <p class="card-text">No sequence yet</p>
                    <a href="#" class="btn btn-primary">Create a sequence</a>
                </div>
            </div>

            <br>
        {% endfor %}
    {% else %}
        <p>No video uploaded yet</p>
    {% endif %}
    
    <br>

    <h2>Upload a new video</h2>
    <form id="upload" action="{{ path_for('upload') }}" class="dropzone" method="post">
        <input type="hidden" name="{{nameKey}}" value="{{name}}">
        <input type="hidden" name="{{valueKey}}" value="{{value}}">
        
        <div class="fallback">
            <input name="file" type="file"/>
        </div>
    </form>

    <br>

    <script>
        // Setting Dropzone.js options
        Dropzone.options.upload = 
        {
            paramName: "file", // The name that will be used to transfer the file
            renameFile: () => { return "video"},
            maxFilesize: 100, // MB
            acceptedFiles: 'video/*',
            maxFiles: 1
        };
    </script>
</div>

{% endblock %}
