{% extends 'layout.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/dropzone.css') }}">
{% endblock %}
{% block body %}

    <script src="{{ asset('assets/js/dropzone.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>

    <div class="container">
        <h1>Profile de {{ auth.user.username }}</h1>
        <br>

        <h2>Mes vidéos</h2>

        {% if videos %}
            {% for v in videos %}
                <div class="card">
                    <h5 class="card-header d-flex justify-content-between align-items-center">
                        {{ v.name }}

                        <div class="btn-group badge" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-pencil"></i>
                            </button>

                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <button class="dropdown-item" data-toggle="modal" data-target="#renameVideo"
                                        data-link="{{ path_for("renameVideo", {"id": v.id}) }}">Modifier le nom
                                </button>
                                <button class="dropdown-item" data-toggle="modal" data-target="#deleteModal"
                                        data-link="{{ path_for("deleteVideo", {"id": v.id}) }}">Supprimer la vidéo
                                </button>
                            </div>
                        </div>

                    </h5>

                    <div class="card-body">
                        <h5 class="card-title">Les séquences de cette vidéo</h5>

                        {% if v.sequences %}
                            <ul class="list-group">
                                {% for seq in v.sequences %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span><b>{{ seq.name }}</b> : {{seq.timing}}</span>
                                        <span class="badge">
                                            <a href="{{ path_for('comments', { "id": seq.id }) }}" 
                                                class="btn btn-primary btn-popover"
                                                data-toggle="popover" 
                                                data-content="Regarder la séquence"
                                            >
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            
                                            <button class="btn btn-danger btn-popover" 
                                                data-toggle="modal"
                                                data-target="#deleteSequenceModal"
                                                data-link="{{ path_for("deleteSequence", {"id": seq.id}) }}"
                                                data-toggle="popover" 
                                                data-content="Supprimer la séquence"
                                            >
                                                <i class="fa fa-trash"></i>
                                            </button>                                    
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>

                            <br>
                        {% else %}
                            <p class="card-text">Pas encore de séquence</p>
                        {% endif %}

                        <a href="{{ path_for("dashboard", {"id": v.id}) }}" class="btn btn-primary">Créer une séquence</a>
                    </div>
                </div>

                <br>
            {% endfor %}
        {% else %}
            <p>Pas encore de vidéo mise en ligne</p>
        {% endif %}

        <br>

        <h2>Mettre en ligne une nouvelle vidéo</h2>
        <form id="upload" action="{{ path_for('upload') }}" class="dropzone" method="POST">
            {{ csrf() }}

            <div class="fallback">
                <input name="file" type="file"/>
            </div>
        </form>

        <br>

        <!-- Modal when trying to delete a video -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        Êtes-vous certain de vouloir supprimer cette vidéo ? Cette vidéo, ainsi que toutes les séquences créées à partir de cette vidéo seront supprimées.
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non, annuler</button>
                        <a class="btn btn-danger delete-btn" href="#" style="color: white">Oui, supprimer</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal when trying to delete a sequence -->
        <div class="modal fade" id="deleteSequenceModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        Êtes-vous sûr de vouloir supprimer cette séquence ?
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non, annuler</button>
                        <a class="btn btn-danger delete-sequence-btn" href="#" style="color: white">Oui, supprimer</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal when trying to edit the name of a video -->
        <div class="modal fade" id="renameVideo" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form class="rename-form" action="" method="post">
                        {{ csrf() }}

                        <div class="modal-body">
                            Comment voulez-vous renommer cette vidéo ?
                            <br><br>
                            Le nom de vidéo sera visible par les autres utilisateurs, alors évitez de donner un nom trop explicite !
                            <br><br>
                            <input class="form-control" name="newName" value="" placeholder="Nouveau nom" required>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-success rename-btn" style="color: white">Confirmer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script>
          // Setting Dropzone.js options
          Dropzone.options.upload =
            {
              init: function() {
                this.on("complete", function(file) { location.reload(true) });
              },
              paramName: "file", // The name that will be used to transfer the file
              maxFilesize: 100, // MB
              acceptedFiles: 'video/*',
              maxFiles: 1,
              dictDefaultMessage: "Déplacez votre fichier ici, ou cliquez pour mettre une vidéo en ligne"
            };

          $(() => {
            $('.btn-popover').popover({
                container: 'body',
                placement: 'top',
                title: '<i class="fa fa-lg fa-info-circle"></i>  <b>Information</b>',
                trigger: 'hover', 
                html: true
            })

            $('#deleteModal').on('show.bs.modal', function (event) {
              let button = $(event.relatedTarget)
              let recipient = button.data('link')

              let modal = $(this)
              modal.find('.delete-btn').attr("href", recipient)
            });

            $('#deleteSequenceModal').on('show.bs.modal', function (event) {
              let button = $(event.relatedTarget)
              let recipient = button.data('link')

              let modal = $(this)
              modal.find('.delete-sequence-btn').attr("href", recipient)
            });

            $('#renameVideo').on('show.bs.modal', function (event) {
              let button = $(event.relatedTarget)
              let recipient = button.data('link')

              let modal = $(this)
              modal.find('.rename-form').attr("action", recipient)
            });
          });
        </script>
    </div>

{% endblock %}
