{% extends 'layout.twig' %}

{% block head_js %}
    <script type="text/javascript" src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {#  <script type="text/javascript" src="/assets/js/video.js"></script>#}
    {#<link href="/assets/css/style.css" rel="stylesheet" type="text/css" />#}
    <link href="/assets/css/bootstrap-slider.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/customPlayer.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/js/JPlayer/dist/skin/blue.monday/css/jplayer.blue.monday.min.css" rel="stylesheet"
        type="text/css"/>
{% endblock %}

{% block body %}

    <div class="container">
        {% if isAdmin %}
            <h1><b>{{ video_name }}</b> ({{ name }})</h1>
        {% endif %}

        <input id="video-link" type="hidden" value="{{ link }}">
        <input id="video-start" type="hidden" value="{{ start }}">
        <input id="video-end" type="hidden" value="{{ end }}">
        
        <div class="row">
            <div id="video_container" class="col-sm"></div>    

            {% if isAdmin %}
                <div class="col-sm">
                    <h3>Commentaires :</h3> 
                    <ul class="list-group list-group-flush" style="overflow-y: scroll; height: 410px;">
                        {% if comments %}
                            {% for com in comments %}
                                <li class="list-group-item d-flex justify-content-between">
                                    {{ com.comment }}
                                    <span class="badge">
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteCommentModal" data-link="{{ path_for("deleteComment", {"id": com.id}) }}">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </span>
                                </li>
                            {% endfor %}                        
                        {% else %}
                            <li class="list-group-item">Pas encore de commentaire</li>                                            
                        {% endif %}
                    </ul>
                </div>      
            {% endif %}    
        </div>

        {% if not isAdmin %}
            <form action="{{ path_for('addComment', {"id": id}) }}" method="post">
                {{ csrf() }}
                <div class="form-group">
                    <label for="commentTextArea"><h3>Dites-nous ce que vous avez vu !</h3></label>
                    <textarea class="form-control" id="commentTextArea" name="comment" rows="1" style="resize: none" required></textarea>
                    <br>
                    <input type="submit" class="btn btn-lg btn-primary" value="Envoyer">
                </div>
            </form>
        {% endif %}
        
        <!-- Modal when trying to delete a video -->
        <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">
                        Ête-vous certain de vouloir supprimer ce commentaire ?
                    </div>
                
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non, annuler</button>
                        <a class="btn btn-danger delete-btn" href="#" style="color: white">Oui, supprimer</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function() 
            {
                $('#deleteCommentModal').on('show.bs.modal', function (event) {
                    let button = $(event.relatedTarget)
                    let recipient = button.data('link') 
                    
                    let modal = $(this)
                    modal.find('.delete-btn').attr("href", recipient)
                });
            })
        </script>    
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('/assets/js/bootstrap-slider.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/assets/js/JPlayer/dist/jplayer/jquery.jplayer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/assets/js/customPlayer.js') }}"></script>

    <script>
      CustomPlayer($('#video_container'),
        function () {
          let videoLink = "/" + document.getElementById("video-link").value
          let videoStart = document.getElementById("video-start").value
          let videoEnd = document.getElementById("video-end").value
          setVideo("{{ name }}", videoLink, videoStart, videoEnd)
          initialize()
        })
    </script>
{% endblock %}
