{% import 'app/macro/form.twig' as form %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">

    <title>{% block title %}Xavier{% endblock %}</title>
    {% block head_js %}{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/dropzone.css') }}">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<body>
{% block navbar %}
    {% include 'app/_navbar.twig' %}
{% endblock %}

{% block flash %}
    {% include 'app/_flash.twig' %}
{% endblock %}

{% block body %}{% endblock %}
{% block javascript %}

    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
